<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <h1>Hello Gấu</h1>
    </div>
    <div class="body">
        <h2>Hello Gấu</h2>
    </div>
    <div class="footer">
        <h3>Hello Gấu</h3>
    </div>
</body>

</html>